.container{
    border: 2px solid rgb(58, 2, 2);
    margin: 40px;
    padding: 2px 0px 100px 0px;
    text-align: center;
  }
  
  .nav-link{
    position: absolute;
    bottom:0;
    border: 2px solid black;
    padding: 3px;
    margin: 2px;
    background-color: bisque;
  }

  .nav-link:hover{
    background-color: rgb(253, 214, 166);
    font-style: bold;
  }

  .nav-link:active{
    color:teal;
  }